.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 10px; /* Add some padding for small screens */
}

.lContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  width: 400px;        /* Base width for desktop */
  max-width: 90%;      /* Responsive width for smaller screens */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
  border-radius: 15px;
}

.lInput {
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  font-family: sans-serif;
  border: 2px solid var(--input-border);
  transition: 180ms box-shadow ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.lInput:focus {
  outline: 3px solid transparent;
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
}

.lButton {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.lButton:hover {
  background-color: #f2b203;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.lButton:active {
  background-color: #9a9a9a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lButton:disabled {
  background-color: #00000045;
  cursor: not-allowed;
}

.error {
  color: rgb(160, 0, 0);
}

.register {
  color: #f2b203;
  cursor: pointer;
}

.register:hover {
  font-size: larger;
  text-shadow: 1px 1px #000000;
}

.para {
  color: black;
  text-align: center;
}

/* Media Queries */

/* Tablet */
@media (max-width: 900px) {
  .lContainer {
    width: 300px;
    padding: 30px;
  }

  .lInput {
    height: 35px;
    font-size: 15px;
  }

  .lButton {
    padding: 12px 25px;
    font-size: 15px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .lContainer {
    width: 100%;
    padding: 20px;
    gap: 10px;
  }

  .lInput {
    height: 35px;
    font-size: 14px;
  }

  .lButton {
    padding: 10px 20px;
    font-size: 14px;
  }
}
